@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');


body{
    background-color: rgb(255, 255, 255);
}
header{
    width: 100%;
    background-color: #ffffff;
    position: relative;    
}

header:hover {
    box-shadow: 1px 1px 10px 1px rgb(212, 212, 212);
}

.navbar{
    max-width: 1300px;
    padding: 0px 30px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    font-family: 'Asap', sans-serif;
    font-size: 2em;
    font-weight: bolder;
    text-decoration: none;
    letter-spacing: .2rem;
    cursor: pointer;
    color: #4b4b4b;
}

.navbar .searchBar {
    width: 300px;
    display: flex;
    margin:auto;
    background: #ffffff;
    justify-content: space-between;
    border-radius: 40px;
    box-shadow: 1px 1px 10px 1px rgb(212, 212, 212);
}
.navbar .searchBar input{
    padding-left:30px ;
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 20px;
    font-weight: 500;
    color: #4b4b4b;
} 
.navbar .searchBar img{
    width: 50px;
    cursor: pointer;
    padding-left: 40px;
    border: 0;
    outline: 0;
    }


    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
      }
      
      /* Create four equal columns that sits next to each other */
      .column {
        flex: 25%;
        max-width: 25%;
        padding: 0 4px;
      }
      
      .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
      }
      
      /* Responsive layout - makes a two column-layout instead of four columns */
      @media screen and (max-width: 800px) {
        .column {
          flex: 50%;
          max-width: 50%;
        }
      }
      
      /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column {
          flex: 100%;
          max-width: 100%;
        }
      }


